.top {
    background-color: lightsalmon;
}
.base {
    padding: 0 20px;
}
.headline {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
.buttonStore {
    height: 36px;
    margin-left: auto;
    padding: 0 36px;
}

.mid {
    background-color: lightblue;
}
.rules {
    background-color: lightblue;
}

.bot {
    background-color: lightgreen;
}