.top {
    background-color: lightsalmon;
}
.base {
    padding: 0 20px;
}
.headline {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
.buttonStore {
    height: 36px;
    margin-left: auto;
    padding: 0 36px;
}

.mid {
    display: flex;
}
.midLeft {
    width: 30%;
    background-color: lightblue;
}
.midCenter {
    width: 50%;
    background-color: lightslategrey;
}
.midRight {
    width: 50%;
    background-color: lightskyblue;
}

.bot {
    display: flex;
    background-color: lightgreen;
}